body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  background-image: url('hero-bg.jpg'); 
  background-size: cover;
  background-position: center;
}

.login-container {
  text-align: center; 
}

.form-group input[type="text"],
.form-group input[type="password"] {
  width: 300px;
}


.login-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 30px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh; 
}

.logo-container {
  margin-bottom: 20px; 
}

.logo {
  max-width: 50%; 
}


h2 {
  text-align: center;
  color: #333;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  color: #555;
}

input[type="text"],
input[type="password"] {
  width: 95%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

#error-message {
  color: red;
  text-align: center;
}
